In [2]:
import pymongo
import pandas as pd

In [3]:
client = pymongo.MongoClient('localhost', 27017)

In [4]:
db = client['chapter3']

In [5]:
collection = db['income']

In [6]:
income_df = pd.DataFrame(list(collection.find()))

In [7]:
income_df.head()

,_id,age,capital-gain,capital-loss,education,education-num,fnlwgt,hours-per-week,label,marital-status,native-country,occupation,race,relationship,sex,workclass
0,59f55d84ebd056316a088438,39,2174,0,Bachelors,13,77516,40,<=50K,Never-married,United-States,Adm-clerical,White,Not-in-family,Male,State-gov
1,59f55d84ebd056316a088439,50,0,0,Bachelors,13,83311,13,<=50K,Married-civ-spouse,United-States,Exec-managerial,White,Husband,Male,Self-emp-not-inc
2,59f55d84ebd056316a08843a,38,0,0,HS-grad,9,215646,40,<=50K,Divorced,United-States,Handlers-cleaners,White,Not-in-family,Male,Private
3,59f55d84ebd056316a08843b,53,0,0,11th,7,234721,40,<=50K,Married-civ-spouse,United-States,Handlers-cleaners,Black,Husband,Male,Private
4,59f55d84ebd056316a08843c,28,0,0,Bachelors,13,338409,40,<=50K,Married-civ-spouse,Cuba,Prof-specialty,Black,Wife,Female,Private

In [8]:
income_df.tail()

,_id,age,capital-gain,capital-loss,education,education-num,fnlwgt,hours-per-week,label,marital-status,native-country,occupation,race,relationship,sex,workclass
32556,59f55d8bebd056316a090364,27,0,0,Assoc-acdm,12,257302,38,<=50K,Married-civ-spouse,United-States,Tech-support,White,Wife,Female,Private
32557,59f55d8bebd056316a090365,40,0,0,HS-grad,9,154374,40,>50K,Married-civ-spouse,United-States,Machine-op-inspct,White,Husband,Male,Private
32558,59f55d8bebd056316a090366,58,0,0,HS-grad,9,151910,40,<=50K,Widowed,United-States,Adm-clerical,White,Unmarried,Female,Private
32559,59f55d8bebd056316a090367,22,0,0,HS-grad,9,201490,20,<=50K,Never-married,United-States,Adm-clerical,White,Own-child,Male,Private
32560,59f55d8bebd056316a090368,52,15024,0,HS-grad,9,287927,40,>50K,Married-civ-spouse,United-States,Exec-managerial,White,Wife,Female,Self-emp-inc

In [9]:
income_df['age'].describe()

count    32561.000000
mean        38.581647
std         13.640433
min         17.000000
25%         28.000000
50%         37.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64

In [10]:
income_df['education'].describe()

count        32561
unique          16
top        HS-grad
freq         10501
Name: education, dtype: object

In [11]:
income_df.mean(0)

age    38.581647
dtype: float64