In [1]:
import pymongo

In [2]:
client = pymongo.MongoClient('localhost', 27017)

In [3]:
db = client['chapter3']

In [4]:
collection = db['income']

In [8]:
with open('income_header.txt') as f_in:
    column_headings = f_in.readline()

In [9]:
column_headings

'age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,label'

In [10]:
column_headings_list = column_headings.split(",")

In [11]:
column_headings_list

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country',
 'label']

In [12]:
row_dict_list = list()
with open('income.txt') as f_in:
    for line in f_in:
        row_list = line.rstrip('\n').split(',')
        row_dict = dict(zip(column_headings_list, row_list))
        row_dict_list.append(row_dict)
        collection.insert_one(row_dict)

In [13]:
collection.count()

32562

In [14]:
age39 = collection.find_one({'age': 39})

In [15]:
age39

In [17]:
collection.delete_many({})
row_dict_list = list()
with open('income.txt') as f_in:
    for line in f_in:
        row_list = line.rstrip('\n').split(',')
        row_dict = dict(zip(column_headings_list, row_list))
        try:
            row_dict['age'] = int(row_dict['age'])
            collection.insert_one(row_dict)
        except:
            pass

In [18]:
collection.count()

32561

In [19]:
over_35 = collection.find({'age': {"$gt": 35}})

In [20]:
over_35

In [21]:
over_35.next()

{u'_id': ObjectId('59f55d84ebd056316a088438'),
 u'age': 39,
 u'capital-gain': u' 2174',
 u'capital-loss': u' 0',
 u'education': u' Bachelors',
 u'education-num': u' 13',
 u'fnlwgt': u' 77516',
 u'hours-per-week': u' 40',
 u'label': u' <=50K',
 u'marital-status': u' Never-married',
 u'native-country': u' United-States',
 u'occupation': u' Adm-clerical',
 u'race': u' White',
 u'relationship': u' Not-in-family',
 u'sex': u' Male',
 u'workclass': u' State-gov'}

In [22]:
over_35.count()

17636

In [23]:
import time

In [24]:
start = time.time()
age50 = collection.find({'age': {'$eq': 50}})
end = time.time()
print(end - start)

0.000138998031616

In [25]:
index_result = db.profiles.create_index([('age', pymongo.ASCENDING)], unique = False)

In [26]:
start = time.time()
age45 = collection.find({'age': {'$eq': 50}})
end = time.time()
print(end - start)

0.000122785568237